

.card-effect:hover{
    transform: translateY(0);
    box-shadow:
      /* inset 0 0 60px whitesmoke,
      inset 20px 0 80px #f0f,
      inset -20px 0 80px #0ff,
      inset 20px 0 300px #f0f,
      inset -20px 0 300px #0ff, */
      0 0 50px #fff,
      -10px 0 80px #f0f,
      10px 0 80px #0ff;
     
  }

  .sombra{
   background: rgba(128, 128, 128, 0.5);
   padding: 0;
   box-sizing: border-box;
   box-shadow: 0 20px 50px rgba(0,0,0,.8);

 }

 .bn-effect{
  transform: translateY(0);
  box-shadow:
    /* inset 0 0 60px whitesmoke,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff, */
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff;
   
}

/* Card Outer Glow Effect */

@keyframes blink-bg {
  0% { background-color: transparent; }
  40% { background-color: #fff; }
  60% { background-color: transparent; }
  100% { background-color: transparent; }
}

@keyframes blink-shadow {
  0%, 100% { box-shadow: none; }
  20% { box-shadow: 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff; }
  50% { box-shadow: 0 0 50px #fff, -20px 0 80px #f0f, 20px 0 80px #0ff; }
  80% { box-shadow: 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff; }
}

.bn-effect {
  animation: blink-bg 8s infinite, blink-shadow 8s infinite; /* Altere o tempo conforme necessário */
}

.container1 .card {
  position: relative;
  background: transparent; 
  border: 0;
  margin-bottom: 30px;
  
}

.container1 .card .face {
  width: 300px;
  height: auto; /* Alterado para automático */
  transition: .4s;
  border-radius: 10px;
  margin-bottom: 5px;
  
}

.container1 .card .face.face1{
  position: relative;
  background: #333;
  display: flex;
  /* justify-content: center;
  align-content:center;
  align-items: center; */
  z-index: 1;
  transform: translateY(0px);
  
}

.container1 .card:hover .face.face1{
  transform: translateY(0);
  box-shadow:
    inset 0 0 60px whitesmoke,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff;
   
}


.container1 .card .face.face1 .content{
  /* opacity: .7; */
  transition:  0.5s;
  text-align: center;
  width: 100%; 
  height: 100%; 
  border-radius: 10px;
  
}

.container1 .card:hover .face.face1 .content{
  opacity: 1;
 
}

.container1 .card .face.face1 .content i{
  font-size: 3em;
  color: white;
  display: inline-block;
   
}

.container1 .card .face.face2 .content h3 {
  font-size: 1.5em;
  color: white;
}

.container1 .card .face.face1 .content img{
  width: 100%; /* Isso faz a imagem ocupar toda a largura da div */
  height: auto; /* Isso mantém a proporção da imagem */
  display: block; /* Isso remove qualquer espaço em branco abaixo da imagem */
}

.container1 .card .face.face1 .content a{
   transition: .5s;
}

.container1 .card .face.face2 {
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column; /* Adicionado */
  height: 100%; /* Alterado */
  align-items: flex-end; /* Adicionado */
  padding-top: auto;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, .8);
  transform: translateY(-00px);
}


.container1 .card:hover .face.face2{
    transform: translateY(1);
    z-index: 2;
    transform: translateY(-100px);
    
}



.container1 .card .face.face2 .content p{
  font-size: 15pt;
  margin: 0 ;
  padding: 0;
  color:rgb(255, 255, 255);
}

.container1 .card .face.face2 .content button{
  font-size: 15pt;
  /* margin-top: 0; */
  /* padding: 0; */
  color:rgb(255, 255, 255);
}


/* Banner Card Animation */


.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper .containerBanner {
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}

.wrapper .cardBanner {
  width: 80px;
  border-radius: .75rem;
  background-size: cover;
  cursor: pointer;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: .6s cubic-bezier(.28,-0.03,0,.99);
  box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.wrapper .cardBanner > .row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
  padding-left: 12px;
}

.wrapper .cardBanner > .row > .icon {
  background: #223;
  color: white;
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  
}

.wrapper .cardBanner > .row > .description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 80px;
  width: 520px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: .3s;
  transition: all .3s ease;
}

.wrapper .description p {
  color: #b0b0ba;
  padding-top: 5px;
}

.wrapper .description h4 {
  text-transform: uppercase;
}

.wrapper input {
  display: none;
}

.wrapper input:checked + label {
  width: 600px;
}

.wrapper input:checked + label .description {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.cardBanner[for="c1"] {
  background-image: url('../img/bn1.png');
}

.cardBanner[for="c2"] {
  background-image: url('../img/bn1.png');
}

.cardBanner[for="c3"] {
  background-image: url('../img/bn1.png');
}

.cardBanner[for="c4"] {
  background-image: url('../img/bn1.png');
}
