.bg-color{
    background-color:#020D19;
}

.color-morado{
    color: #992899;
}

.input-placeholder-white::placeholder {
    color: rgb(189, 189, 189); 
  }

.fontRetro {
    font-family: "gloridot", sans-serif;
    font-weight: 400;
    font-style: normal;
}
