.main-content {
    margin-bottom: 200px !important;  /* Adiciona uma margem inferior de 100px */
  }
  
.bg-color{
    background-color:#020D19;
}

.color-morado{
    color: #992899;
}

.input-placeholder-white::placeholder {
    color: rgb(189, 189, 189); 
  }

